body{
    color: white;
    outline: none;   
}

a {
    color: #ee88fd;
    outline: none;
}

#customHead{
    text-align: center;
    font-size: 4rem;
    font-family: monospace;
    outline: none;
    margin: 50px 5%;
    text-shadow: -5px 5px 5px #fcefff;
    color: #ee88fd;
}

#custom-links{
    display: flex;
    list-style: none;
    outline: none;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    width: 60%;
}

#about-link{
    margin-left: 30px;
    outline: none;
}
/*******************/
#customBody{
    /* background image from: https://wallpapercave.com/wp/yynPaPg.jpg */
    background-image: url('images/wolves.jpg');  
    background-size: cover;
    background-repeat: no-repeat;
    
}
#userInput{
    width: 80%;
    margin: 70px auto;
    margin-bottom: 0;
    outline: none;
    margin-top: 3px;
}

#formLegend{
    text-align: center;
    outline: none;
    font-family: monospace;
    font-size: 15pt;
    margin-bottom: 15px;
}

.inputBox{
    display: block;
    margin: 10px auto;
    width: 80%;
    border-radius: 2px;
    outline: none;
    font-family: monospace;
    font-size: 1em;
    background-color: #fcefff;
    text-align: center;
    color: black;
    border: none;
    opacity: .8;
}
.inputBox::placeholder{
    color: black;
    text-align: center;
    
}

.inputBox:focus{
    opacity: 1;
    color: black;
    font-size: 1em;
    text-align: center;
}

#formFieldset{
    border-style: none;
    outline: none;

}

#submitButton{
    display: block;
    width: 50%;
    margin:0 auto;
    border-radius: 12px;
    border-style: none;
    height: 40px;
    background-color: #ee88fd;
    box-shadow: -5px 5px 5px #fcefff;
    outline: none;
    font-family: monospace;
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    margin-top: 35px;
   
}

#submitButton:active{
    box-shadow: -1px 1px 1px;
    transform: translateY(4px);
    outline: none;
    color: white;

}

#clearButton{
    box-shadow: -5px 5px 5px #fcefff;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.25em;
    border-radius: 12px;
    border-style: none;
    height: 40px;
    width: 38.5%;
    background-color: #ee88fd;
    outline: none;
    font-family: monospace;
    font-weight: bold;
    color: black;

}
#clearButton:active{
    box-shadow: -1px 1px 1px #f3cafc;
    transform: translateY(4px);
    outline: none;
    color: white;
}
/********************/
/* image source: https://wallscover.com/images/dark-wallpaper-14.jpg */

#about-body{
    background-image: url('images/moonlight.jpg');
    background-attachment: fixed;
    width: 80%;
    margin: 0 auto;
    font-family: monospace;
    font-size: 13pt;
    background-repeat: no-repeat;
}

#aboutHeader{
    text-align: center;
    font-size: 4rem;
    font-family: monospace;
    text-shadow: -5px 5px 5px #fcefff;
    color: #ee88fd
}

#aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profiles{
    width: 80%;
    height: 20%;
    margin: 0 auto;
    text-align: center
}

img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 20px;

}

#aboutLinksTop{
    display: flex;
    list-style: none;
    outline: none;
    width: 60%;
    justify-content: space-around;
    margin: 0 auto;
}

#aboutLinksBot{
    display: flex;
    list-style: none;
    outline: none;
    width: 60%;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* INDEX */
/* #logo-div {
    display: flex;
    justify-content: space-around;
    }
    
#logo {
    margin-top: -120px;
    margin-bottom: 20px;
    /* margin-left: 38%; /
    / width: 250px; */
    /* height: auto;
    z-index: 100000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
} */ 
#logo {
    margin-top: -20%;
    margin-left: 38%;
    width: 250px;
    height: auto;
    z-index: 100000;
} 

@media (max-width: 600px ){
    #logo{
        min-width: 200px;
        margin-top: -20%;
        margin-left: 21%;
        width: 20%;
        height: auto;
        z-index: 100000;
    }
}

#animation-form {
    font-family: monospace;
    font-weight: bold;
    font-size: .75em;
    display: block;
    margin: 10px auto;
    padding: 15px 25px;
    text-align: center;
    height: 35px;

}
#footer-nav {
    display: flex;
    justify-content: space-around;
}

#footer-nav a {
    color: #a30ae3;
    font-size: .75em;
}

#disclaimer  {
    color: #222;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .75em;
}